<div class="container-fluid">

  <h1 align="center">Editar Vehiculo</h1>
   <%= form_for :vehiculo, :url => { :action => :create, method: :patch} do |f| %>

  <%= render 'form', vehiculo: @vehiculo %>

   <% end %>

</div>
