<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">Vehiculo</div>
  <div class="panel-body">
<div class="container-fluid">

    <%= render partial: 'layouts/search_form', locals: { search_entity: 'vehiculos', word: "Matricula" } %>
    <br>
    <div class="col-md-5 col-md-offset-5 col-sm-5 col-sm-offset-5">
      <p>
        <%= button_to vehiculo_new_path, {method: :get, class: "btn btn-success"} do %>
          <span class="glyphicon glyphicon-plus" aria-hidden="true"> </span> Nuevo Vehiculo
        <% end %>
      </p>
    </div>
  </div>
  <%= render partial: 'results_search' %>
</div>
</div>
</div>
</div>
</div>

