
<div class="container-div" >
	<h1 align="center" >Nuevo Recibo</h1>
	<%= form_for @pago_factura, :url => { :action => :create, :validate => true } do |f| %>
	<%= render "form", f: f %>
	<% end %>
</div>
