<div class="container-div">
	<h1  align="center">Editar Cliente</h1>
	<%= form_for @cliente, :url => { :action => :update,  :validate => true } do |f| %>
	<%= render "form", f: f %>
	<% end %>
</div>
