
<div class="container-div" >
	<h1 align="center" >Nuevo Repuesto o Servicio</h1>
	<br><br>
	<%= form_for @repuesto_servicio, :url => { :action => :create, :validate => true } do |f| %>
	<%= render "form", f: f %>
	<% end %>
</div>
