<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">Tipo de Factura</div>
  <div class="panel-body">

<div class="container-fluid">
  
<h1>Nuevo Tipo de Factura</h1>

<%= render 'form', tipo_factura: @tipo_factura %>

<%= link_to 'Volver', tipo_facturas_path %>
</div>
</div>
</div>
</div>
</div>
